*.global.js
build
node_modules
interactive/guides/vendor/*.md
interactive/data/guides.ts
defaultConfig.ts
packages/preset-icons/src/collections.json
packages/eslint-plugin/fixtures
!.vitepress
docs/.vitepress/cache/deps/*.*
