.cache
.DS_Store
.idea
.nuxt
.output
.temp
*.local
*.log
*.vsix
_temp
bench/source/gen*.js
coverage
dist
examples/**/pnpm-lock.yaml
node_modules
packages-integrations/runtime/*.global.js
packages-integrations/vscode/LICENSE
packages-integrations/vscode/src/generated
packages-presets/unocss/README.md
result.json
interactive/guides/vendor/*.md
interactive/data/guides.ts
interactive/public/play
interactive/public/shiki
.svelte-kit
.eslintcache
vite.config.ts.timestamp-*
test/assets/fonts
examples/**/public/assets/fonts
playground/public/assets/fonts
