.cache
.DS_Store
.idea
.nuxt
.output
.temp
*.local
*.log
*.vsix
bench/source/gen*.js
coverage
dist
examples/**/pnpm-lock.yaml
node_modules
packages/runtime/*.global.js
packages/unocss/README.md
packages/vscode/LICENSE
result.json
interactive/guides/vendor/*.md
interactive/data/guides.ts
interactive/public/play
interactive/public/shiki
