.cache
.DS_Store
.idea
.nuxt
.output
.temp
*.local
*.log
*.vsix
bench/source/gen*.js
coverage
dist
dist-ssr
dist-ssr/
elm-stuff/
node_modules
packages/runtime/*.global.js
packages/unocss/README.md
packages/vscode/LICENSE
result.json
examples/**/pnpm-lock.yaml
