<div class="app font-sans">
    <h1>Using UnoCSS Width Angular Custom PostCSS Config</h1>

    <p class="mt-2">
        Angular Load tailwindcss with postcss, so we can config postcss, but only with json format config file

        <a href="https://github.com/angular/angular-cli/blob/main/packages/angular/build/src/utils/postcss-configuration.ts#L20" target="_blank">Check Angular Cli code</a>
    </p>

    <p class="mt-2 text-lg text-green-600">
        Now you are ready to dive into <a href="https://unocss.dev/" target="_blank">UnoCSS</a>!
    </p>
</div>