---
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
		<link rel="stylesheet" href="/unocss-fonts/fonts.css" />
	</head>
	<body class="font-sans">
		<slot />
	</body>
</html>
