---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props as Props;
---

<li class="border rounded inline-block px4 py2 m2 hover:shadow">
	<a href={href}>
		<h2 class="font-bold">
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
