---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
  <div class="text-center text-lg mt-10">Foo</div>
  <ul role="list" class="link-card-grid">
    <Card
      href="/"
      title="Home"
      body="Go home."
    />
  </ul>
</Layout>
