/* layer: theme */
:root {
--spacing: 0.25rem;
--font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-serif: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--colors-black: #000;
--colors-white: #fff;
--colors-slate-50: oklch(0.984 0.003 247.858);
--colors-slate-100: oklch(0.968 0.007 247.896);
--colors-slate-200: oklch(0.929 0.013 255.508);
--colors-slate-300: oklch(0.869 0.022 252.894);
--colors-slate-400: oklch(0.704 0.04 256.788);
--colors-slate-500: oklch(0.554 0.046 257.417);
--colors-slate-600: oklch(0.446 0.043 257.281);
--colors-slate-700: oklch(0.372 0.044 257.287);
--colors-slate-800: oklch(0.279 0.041 260.031);
--colors-slate-900: oklch(0.208 0.042 265.755);
--colors-slate-950: oklch(0.129 0.042 264.695);
--colors-gray-50: oklch(0.985 0.002 247.839);
--colors-gray-100: oklch(0.967 0.003 264.542);
--colors-gray-200: oklch(0.928 0.006 264.531);
--colors-gray-300: oklch(0.872 0.01 258.338);
--colors-gray-400: oklch(0.707 0.022 261.325);
--colors-gray-500: oklch(0.551 0.027 264.364);
--colors-gray-600: oklch(0.446 0.03 256.802);
--colors-gray-700: oklch(0.373 0.034 259.733);
--colors-gray-800: oklch(0.278 0.033 256.848);
--colors-gray-900: oklch(0.21 0.034 264.665);
--colors-gray-950: oklch(0.13 0.028 261.692);
--colors-zinc-50: oklch(0.985 0 0);
--colors-zinc-100: oklch(0.967 0.001 286.375);
--colors-zinc-200: oklch(0.92 0.004 286.32);
--colors-zinc-300: oklch(0.871 0.006 286.286);
--colors-zinc-400: oklch(0.705 0.015 286.067);
--colors-zinc-500: oklch(0.552 0.016 285.938);
--colors-zinc-600: oklch(0.442 0.017 285.786);
--colors-zinc-700: oklch(0.37 0.013 285.805);
--colors-zinc-800: oklch(0.274 0.006 286.033);
--colors-zinc-900: oklch(0.21 0.006 285.885);
--colors-zinc-950: oklch(0.141 0.005 285.823);
--colors-neutral-50: oklch(0.985 0 0);
--colors-neutral-100: oklch(0.97 0 0);
--colors-neutral-200: oklch(0.922 0 0);
--colors-neutral-300: oklch(0.87 0 0);
--colors-neutral-400: oklch(0.708 0 0);
--colors-neutral-500: oklch(0.556 0 0);
--colors-neutral-600: oklch(0.439 0 0);
--colors-neutral-700: oklch(0.371 0 0);
--colors-neutral-800: oklch(0.269 0 0);
--colors-neutral-900: oklch(0.205 0 0);
--colors-neutral-950: oklch(0.145 0 0);
--colors-stone-50: oklch(0.985 0.001 106.423);
--colors-stone-100: oklch(0.97 0.001 106.424);
--colors-stone-200: oklch(0.923 0.003 48.717);
--colors-stone-300: oklch(0.869 0.005 56.366);
--colors-stone-400: oklch(0.709 0.01 56.259);
--colors-stone-500: oklch(0.553 0.013 58.071);
--colors-stone-600: oklch(0.444 0.011 73.639);
--colors-stone-700: oklch(0.374 0.01 67.558);
--colors-stone-800: oklch(0.268 0.007 34.298);
--colors-stone-900: oklch(0.216 0.006 56.043);
--colors-stone-950: oklch(0.147 0.004 49.25);
--colors-red-50: oklch(0.971 0.013 17.38);
--colors-red-100: oklch(0.936 0.032 17.717);
--colors-red-200: oklch(0.885 0.062 18.334);
--colors-red-300: oklch(0.808 0.114 19.571);
--colors-red-400: oklch(0.704 0.191 22.216);
--colors-red-500: oklch(0.637 0.237 25.331);
--colors-red-600: oklch(0.577 0.245 27.325);
--colors-red-700: oklch(0.505 0.213 27.518);
--colors-red-800: oklch(0.444 0.177 26.899);
--colors-red-900: oklch(0.396 0.141 25.723);
--colors-red-950: oklch(0.258 0.092 26.042);
--colors-orange-50: oklch(0.98 0.016 73.684);
--colors-orange-100: oklch(0.954 0.038 75.164);
--colors-orange-200: oklch(0.901 0.076 70.697);
--colors-orange-300: oklch(0.837 0.128 66.29);
--colors-orange-400: oklch(0.75 0.183 55.934);
--colors-orange-500: oklch(0.705 0.213 47.604);
--colors-orange-600: oklch(0.646 0.222 41.116);
--colors-orange-700: oklch(0.553 0.195 38.402);
--colors-orange-800: oklch(0.47 0.157 37.304);
--colors-orange-900: oklch(0.408 0.123 38.172);
--colors-orange-950: oklch(0.266 0.079 36.259);
--colors-amber-50: oklch(0.987 0.022 95.277);
--colors-amber-100: oklch(0.962 0.059 95.617);
--colors-amber-200: oklch(0.924 0.12 95.746);
--colors-amber-300: oklch(0.879 0.169 91.605);
--colors-amber-400: oklch(0.828 0.189 84.429);
--colors-amber-500: oklch(0.769 0.188 70.08);
--colors-amber-600: oklch(0.666 0.179 58.318);
--colors-amber-700: oklch(0.555 0.163 48.998);
--colors-amber-800: oklch(0.473 0.137 46.201);
--colors-amber-900: oklch(0.414 0.112 45.904);
--colors-amber-950: oklch(0.279 0.077 45.635);
--colors-yellow-50: oklch(0.987 0.026 102.212);
--colors-yellow-100: oklch(0.973 0.071 103.193);
--colors-yellow-200: oklch(0.945 0.129 101.54);
--colors-yellow-300: oklch(0.905 0.182 98.111);
--colors-yellow-400: oklch(0.852 0.199 91.936);
--colors-yellow-500: oklch(0.795 0.184 86.047);
--colors-yellow-600: oklch(0.681 0.162 75.834);
--colors-yellow-700: oklch(0.554 0.135 66.442);
--colors-yellow-800: oklch(0.476 0.114 61.907);
--colors-yellow-900: oklch(0.421 0.095 57.708);
--colors-yellow-950: oklch(0.286 0.066 53.813);
--colors-lime-50: oklch(0.986 0.031 120.757);
--colors-lime-100: oklch(0.967 0.067 122.328);
--colors-lime-200: oklch(0.938 0.127 124.321);
--colors-lime-300: oklch(0.897 0.196 126.665);
--colors-lime-400: oklch(0.841 0.238 128.85);
--colors-lime-500: oklch(0.768 0.233 130.85);
--colors-lime-600: oklch(0.648 0.2 131.684);
--colors-lime-700: oklch(0.532 0.157 131.589);
--colors-lime-800: oklch(0.453 0.124 130.933);
--colors-lime-900: oklch(0.405 0.101 131.063);
--colors-lime-950: oklch(0.274 0.072 132.109);
--colors-green-50: oklch(0.982 0.018 155.826);
--colors-green-100: oklch(0.962 0.044 156.743);
--colors-green-200: oklch(0.925 0.084 155.995);
--colors-green-300: oklch(0.871 0.15 154.449);
--colors-green-400: oklch(0.792 0.209 151.711);
--colors-green-500: oklch(0.723 0.219 149.579);
--colors-green-600: oklch(0.627 0.194 149.214);
--colors-green-700: oklch(0.527 0.154 150.069);
--colors-green-800: oklch(0.448 0.119 151.328);
--colors-green-900: oklch(0.393 0.095 152.535);
--colors-green-950: oklch(0.266 0.065 152.934);
--colors-emerald-50: oklch(0.979 0.021 166.113);
--colors-emerald-100: oklch(0.95 0.052 163.051);
--colors-emerald-200: oklch(0.905 0.093 164.15);
--colors-emerald-300: oklch(0.845 0.143 164.978);
--colors-emerald-400: oklch(0.765 0.177 163.223);
--colors-emerald-500: oklch(0.696 0.17 162.48);
--colors-emerald-600: oklch(0.596 0.145 163.225);
--colors-emerald-700: oklch(0.508 0.118 165.612);
--colors-emerald-800: oklch(0.432 0.095 166.913);
--colors-emerald-900: oklch(0.378 0.077 168.94);
--colors-emerald-950: oklch(0.262 0.051 172.552);
--colors-teal-50: oklch(0.984 0.014 180.72);
--colors-teal-100: oklch(0.953 0.051 180.801);
--colors-teal-200: oklch(0.91 0.096 180.426);
--colors-teal-300: oklch(0.855 0.138 181.071);
--colors-teal-400: oklch(0.777 0.152 181.912);
--colors-teal-500: oklch(0.704 0.14 182.503);
--colors-teal-600: oklch(0.6 0.118 184.704);
--colors-teal-700: oklch(0.511 0.096 186.391);
--colors-teal-800: oklch(0.437 0.078 188.216);
--colors-teal-900: oklch(0.386 0.063 188.416);
--colors-teal-950: oklch(0.277 0.046 192.524);
--colors-cyan-50: oklch(0.984 0.019 200.873);
--colors-cyan-100: oklch(0.956 0.045 203.388);
--colors-cyan-200: oklch(0.917 0.08 205.041);
--colors-cyan-300: oklch(0.865 0.127 207.078);
--colors-cyan-400: oklch(0.789 0.154 211.53);
--colors-cyan-500: oklch(0.715 0.143 215.221);
--colors-cyan-600: oklch(0.609 0.126 221.723);
--colors-cyan-700: oklch(0.52 0.105 223.128);
--colors-cyan-800: oklch(0.45 0.085 224.283);
--colors-cyan-900: oklch(0.398 0.07 227.392);
--colors-cyan-950: oklch(0.302 0.056 229.695);
--colors-sky-50: oklch(0.977 0.013 236.62);
--colors-sky-100: oklch(0.951 0.026 236.824);
--colors-sky-200: oklch(0.901 0.058 230.902);
--colors-sky-300: oklch(0.828 0.111 230.318);
--colors-sky-400: oklch(0.746 0.16 232.661);
--colors-sky-500: oklch(0.685 0.169 237.323);
--colors-sky-600: oklch(0.588 0.158 241.966);
--colors-sky-700: oklch(0.5 0.134 242.749);
--colors-sky-800: oklch(0.443 0.11 240.79);
--colors-sky-900: oklch(0.391 0.09 240.876);
--colors-sky-950: oklch(0.293 0.066 243.157);
--colors-blue-50: oklch(0.97 0.014 254.604);
--colors-blue-100: oklch(0.932 0.032 255.585);
--colors-blue-200: oklch(0.882 0.059 254.128);
--colors-blue-300: oklch(0.809 0.105 251.813);
--colors-blue-400: oklch(0.707 0.165 254.624);
--colors-blue-500: oklch(0.623 0.214 259.815);
--colors-blue-600: oklch(0.546 0.245 262.881);
--colors-blue-700: oklch(0.488 0.243 264.376);
--colors-blue-800: oklch(0.424 0.199 265.638);
--colors-blue-900: oklch(0.379 0.146 265.522);
--colors-blue-950: oklch(0.282 0.091 267.935);
--colors-indigo-50: oklch(0.962 0.018 272.314);
--colors-indigo-100: oklch(0.93 0.034 272.788);
--colors-indigo-200: oklch(0.87 0.065 274.039);
--colors-indigo-300: oklch(0.785 0.115 274.713);
--colors-indigo-400: oklch(0.673 0.182 276.935);
--colors-indigo-500: oklch(0.585 0.233 277.117);
--colors-indigo-600: oklch(0.511 0.262 276.966);
--colors-indigo-700: oklch(0.457 0.24 277.023);
--colors-indigo-800: oklch(0.398 0.195 277.366);
--colors-indigo-900: oklch(0.359 0.144 278.697);
--colors-indigo-950: oklch(0.257 0.09 281.288);
--colors-violet-50: oklch(0.969 0.016 293.756);
--colors-violet-100: oklch(0.943 0.029 294.588);
--colors-violet-200: oklch(0.894 0.057 293.283);
--colors-violet-300: oklch(0.811 0.111 293.571);
--colors-violet-400: oklch(0.702 0.183 293.541);
--colors-violet-500: oklch(0.606 0.25 292.717);
--colors-violet-600: oklch(0.541 0.281 293.009);
--colors-violet-700: oklch(0.491 0.27 292.581);
--colors-violet-800: oklch(0.432 0.232 292.759);
--colors-violet-900: oklch(0.38 0.189 293.745);
--colors-violet-950: oklch(0.283 0.141 291.089);
--colors-purple-50: oklch(0.977 0.014 308.299);
--colors-purple-100: oklch(0.946 0.033 307.174);
--colors-purple-200: oklch(0.902 0.063 306.703);
--colors-purple-300: oklch(0.827 0.119 306.383);
--colors-purple-400: oklch(0.714 0.203 305.504);
--colors-purple-500: oklch(0.627 0.265 303.9);
--colors-purple-600: oklch(0.558 0.288 302.321);
--colors-purple-700: oklch(0.496 0.265 301.924);
--colors-purple-800: oklch(0.438 0.218 303.724);
--colors-purple-900: oklch(0.381 0.176 304.987);
--colors-purple-950: oklch(0.291 0.149 302.717);
--colors-fuchsia-50: oklch(0.977 0.017 320.058);
--colors-fuchsia-100: oklch(0.952 0.037 318.852);
--colors-fuchsia-200: oklch(0.903 0.076 319.62);
--colors-fuchsia-300: oklch(0.833 0.145 321.434);
--colors-fuchsia-400: oklch(0.74 0.238 322.16);
--colors-fuchsia-500: oklch(0.667 0.295 322.15);
--colors-fuchsia-600: oklch(0.591 0.293 322.896);
--colors-fuchsia-700: oklch(0.518 0.253 323.949);
--colors-fuchsia-800: oklch(0.452 0.211 324.591);
--colors-fuchsia-900: oklch(0.401 0.17 325.612);
--colors-fuchsia-950: oklch(0.293 0.136 325.661);
--colors-pink-50: oklch(0.971 0.014 343.198);
--colors-pink-100: oklch(0.948 0.028 342.258);
--colors-pink-200: oklch(0.899 0.061 343.231);
--colors-pink-300: oklch(0.823 0.12 346.018);
--colors-pink-400: oklch(0.718 0.202 349.761);
--colors-pink-500: oklch(0.656 0.241 354.308);
--colors-pink-600: oklch(0.592 0.249 0.584);
--colors-pink-700: oklch(0.525 0.223 3.958);
--colors-pink-800: oklch(0.459 0.187 3.815);
--colors-pink-900: oklch(0.408 0.153 2.432);
--colors-pink-950: oklch(0.284 0.109 3.907);
--colors-rose-50: oklch(0.969 0.015 12.422);
--colors-rose-100: oklch(0.941 0.03 12.58);
--colors-rose-200: oklch(0.892 0.058 10.001);
--colors-rose-300: oklch(0.81 0.117 11.638);
--colors-rose-400: oklch(0.712 0.194 13.428);
--colors-rose-500: oklch(0.645 0.246 16.439);
--colors-rose-600: oklch(0.586 0.253 17.585);
--colors-rose-700: oklch(0.514 0.222 16.935);
--colors-rose-800: oklch(0.455 0.188 13.697);
--colors-rose-900: oklch(0.41 0.159 10.272);
--colors-rose-950: oklch(0.271 0.105 12.094);
--colors-light-50: oklch(99.4% 0 0);
--colors-light-100: oklch(99.11% 0 0);
--colors-light-200: oklch(98.51% 0 0);
--colors-light-300: oklch(98.16% 0.0017 247.84);
--colors-light-400: oklch(97.31% 0 0);
--colors-light-500: oklch(96.12% 0 0);
--colors-light-600: oklch(96.32% 0.0034 247.86);
--colors-light-700: oklch(94.17% 0.0052 247.88);
--colors-light-800: oklch(91.09% 0.007 247.9);
--colors-light-900: oklch(90.72% 0.0051 228.82);
--colors-light-950: oklch(89.23% 0.006 239.83);
--colors-dark-50: oklch(40.91% 0 0);
--colors-dark-100: oklch(35.62% 0 0);
--colors-dark-200: oklch(31.71% 0 0);
--colors-dark-300: oklch(29.72% 0 0);
--colors-dark-400: oklch(25.2% 0 0);
--colors-dark-500: oklch(23.93% 0 0);
--colors-dark-600: oklch(22.73% 0.0038 286.09);
--colors-dark-700: oklch(22.21% 0 0);
--colors-dark-800: oklch(20.9% 0 0);
--colors-dark-900: oklch(16.84% 0 0);
--colors-dark-950: oklch(13.44% 0 0);
--breakpoint-sm: 40rem;
--breakpoint-md: 48rem;
--breakpoint-lg: 64rem;
--breakpoint-xl: 80rem;
--breakpoint-2xl: 96rem;
--vertical-breakpoint-sm: 40rem;
--vertical-breakpoint-md: 48rem;
--vertical-breakpoint-lg: 64rem;
--vertical-breakpoint-xl: 80rem;
--vertical-breakpoint-2xl: 96rem;
--text-xs-font-size: 0.75rem;
--text-xs-line-height: 1rem;
--text-sm-font-size: 0.875rem;
--text-sm-line-height: 1.25rem;
--text-base-font-size: 1rem;
--text-base-line-height: 1.5rem;
--text-lg-font-size: 1.125rem;
--text-lg-line-height: 1.75rem;
--text-xl-font-size: 1.25rem;
--text-xl-line-height: 1.75rem;
--text-2xl-font-size: 1.5rem;
--text-2xl-line-height: 2rem;
--text-3xl-font-size: 1.875rem;
--text-3xl-line-height: 2.25rem;
--text-4xl-font-size: 2.25rem;
--text-4xl-line-height: 2.5rem;
--text-5xl-font-size: 3rem;
--text-5xl-line-height: 1;
--text-6xl-font-size: 3.75rem;
--text-6xl-line-height: 1;
--text-7xl-font-size: 4.5rem;
--text-7xl-line-height: 1;
--text-8xl-font-size: 6rem;
--text-8xl-line-height: 1;
--text-9xl-font-size: 8rem;
--text-9xl-line-height: 1;
--font-weight-thin: 100;
--font-weight-extralight: 200;
--font-weight-light: 300;
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;
--font-weight-extrabold: 800;
--font-weight-black: 900;
--tracking-tighter: -0.05em;
--tracking-tight: -0.025em;
--tracking-normal: 0em;
--tracking-wide: 0.025em;
--tracking-wider: 0.05em;
--tracking-widest: 0.1em;
--leading-tight: 1.25;
--leading-snug: 1.375;
--leading-normal: 1.5;
--leading-relaxed: 1.625;
--leading-loose: 2;
--text-stroke-width-sm: thin;
--text-stroke-width-md: medium;
--text-stroke-width-lg: thick;
--radius-xs: 0.125rem;
--radius-sm: 0.25rem;
--radius-md: 0.375rem;
--radius-lg: 0.5rem;
--radius-xl: 0.75rem;
--radius-2xl: 1rem;
--radius-3xl: 1.5rem;
--radius-4xl: 2rem;
--shadow-2xs: var(--un-shadow-inset) 0 1px rgb(0 0 0 / 0.05);
--shadow-xs: var(--un-shadow-inset) 0 1px 2px 0 rgb(0 0 0 / 0.05);
--shadow-sm: var(--un-shadow-inset) 0 1px 3px 0 rgb(0 0 0 / 0.1),var(--un-shadow-inset) 0 1px 2px -1px rgb(0 0 0 / 0.1);
--shadow-md: var(--un-shadow-inset) 0 4px 6px -1px rgb(0 0 0 / 0.1),var(--un-shadow-inset) 0 2px 4px -2px rgb(0 0 0 / 0.1);
--shadow-lg: var(--un-shadow-inset) 0 10px 15px -3px rgb(0 0 0 / 0.1),var(--un-shadow-inset) 0 4px 6px -4px rgb(0 0 0 / 0.1);
--shadow-xl: var(--un-shadow-inset) 0 20px 25px -5px rgb(0 0 0 / 0.1),var(--un-shadow-inset) 0 8px 10px -6px rgb(0 0 0 / 0.1);
--shadow-2xl: var(--un-shadow-inset) 0 25px 50px -12px rgb(0 0 0 / 0.25);
--shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
--inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
--inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
--inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);
--drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
--drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
--drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
--drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);
--drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
--drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15);
--text-shadow-sm: 1px 1px 3px rgb(36 37 47 / 0.25);
--text-shadow-md: 0 1px 2px rgb(30 29 39 / 0.19),1px 2px 4px rgb(54 64 147 / 0.18);
--text-shadow-lg: 3px 3px 6px rgb(0 0 0 / 0.26),0 0 5px rgb(15 3 86 / 0.22);
--text-shadow-xl: 1px 1px 3px rgb(0 0 0 / 0.29),2px 4px 7px rgb(73 64 125 / 0.35);
--ease-linear: linear;
--ease-in: cubic-bezier(0.4, 0, 1, 1);
--ease-out: cubic-bezier(0, 0, 0.2, 1);
--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
--blur-xs: 4px;
--blur-sm: 8px;
--blur-md: 12px;
--blur-lg: 16px;
--blur-xl: 24px;
--blur-2xl: 40px;
--blur-3xl: 64px;
--perspective-dramatic: 100px;
--perspective-near: 300px;
--perspective-normal: 500px;
--perspective-midrange: 800px;
--perspective-distant: 1200px;
--property-all: all;
--property-colors: color,background-color,border-color,text-decoration-color,fill,stroke,--un-gradient-from,--un-gradient-via,--un-gradient-to;
--property-opacity: opacity;
--property-shadow: box-shadow;
--property-transform: transform,translate,scale,rotate;
--defaults-transition-duration: 150ms;
--defaults-font-family: var(--font-sans);
--defaults-font-feature-settings: var(--font-sans--font-feature-settings);
--defaults-font-variation-settings: var(--font-sans--font-variation-settings);
--defaults-mono-font-family: var(--font-mono);
--defaults-mono-font-feature-settings: var(--font-mono--font-feature-settings);
--defaults-mono-font-variation-settings: var(--font-mono--font-variation-settings);
--container-3xs: 16rem;
--container-2xs: 18rem;
--container-xs: 20rem;
--container-sm: 24rem;
--container-md: 28rem;
--container-lg: 32rem;
--container-xl: 36rem;
--container-2xl: 42rem;
--container-3xl: 48rem;
--container-4xl: 56rem;
--container-5xl: 64rem;
--container-6xl: 72rem;
--container-7xl: 80rem;
--container-prose: 65ch;
}