/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:540px;}
}
@media (min-width: 768px){
.container,
.md\:container{max-width:720px;}
}
@media (min-width: 1024px){
.container,
.lg\:container,
.md\:container{max-width:960px;}
}
@media (min-width: 1280px){
.container,
.lg\:container,
.md\:container{max-width:1140px;}
}