:root{--un-bg-opacity-efwnq4:1;--un-text-opacity-efwnq4:1;}/* layer: default */
.bg-numbered321{background-color:rgb(51 34 17 / var(--un-bg-opacity-efwnq4));}
.bg-with-hyphen{background-color:rgb(18 52 86 / var(--un-bg-opacity-efwnq4));}
.text-numbered-123{color:rgb(17 34 51 / var(--un-text-opacity-efwnq4));}
.text-with-hyphen{color:rgb(18 52 86 / var(--un-text-opacity-efwnq4));}