/* layer: shortcuts */
.container{width:100%;margin-left:auto;margin-right:auto;}
.container{@media (min-width: 640px){
max-width:640px;margin-left:auto;margin-right:auto;
}}
.container,
.md\:container{@media (min-width: 768px){
max-width:768px;margin-left:auto;margin-right:auto;
}}
.container,
.lg\:container,
.md\:container{@media (min-width: 1024px){
max-width:1024px;margin-left:auto;margin-right:auto;
}}
.container,
.lg\:container,
.md\:container{@media (min-width: 1280px){
max-width:1280px;margin-left:auto;margin-right:auto;
}}
.container,
.lg\:container,
.md\:container{@media (min-width: 1536px){
max-width:1536px;margin-left:auto;margin-right:auto;
}}