/* layer: theme */
:root {
  --colors-gray-400: oklch(0.707 0.022 261.325);
  --spacing: 0.25rem;
  --colors-teal-100: oklch(0.953 0.051 180.801);
  --colors-teal-200: oklch(0.91 0.096 180.426);
  --colors-teal-300: oklch(0.855 0.138 181.071);
  --colors-teal-400: oklch(0.777 0.152 181.912);
  --colors-teal-500: oklch(0.704 0.14 182.503);
  --colors-purple-400: oklch(0.714 0.203 305.504);
  --colors-red-500: oklch(0.637 0.237 25.331);
  --colors-green-500: oklch(0.723 0.219 149.579);
  --colors-green-900: oklch(0.393 0.095 152.535);
  --container-lg: 32rem;
  --colors-green-400: oklch(0.792 0.209 151.711);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --tracking-wide: 0.025em;
  --colors-blue-500: oklch(0.623 0.214 259.815);
  --colors-red-300: oklch(0.808 0.114 19.571);
  --colors-red-600: oklch(0.577 0.245 27.325);
  --colors-red-400: oklch(0.704 0.191 22.216);
  --colors-black: #000;
  --colors-blue-400: oklch(0.707 0.165 254.624);
  --colors-red-100: oklch(0.936 0.032 17.717);
  --colors-red-200: oklch(0.885 0.062 18.334);
  --colors-green-100: oklch(0.962 0.044 156.743);
  --colors-rose-400: oklch(0.712 0.194 13.428);
  --fontWeight-thin: 100;
  --colors-green-600: oklch(0.627 0.194 149.214);
  --colors-violet-50: oklch(0.969 0.016 293.756);
  --colors-pink-100: oklch(0.948 0.028 342.258);
  --colors-violet-200: oklch(0.894 0.057 293.283);
  --colors-slate-100: oklch(0.968 0.007 247.896);
  --colors-slate-200: oklch(0.929 0.013 255.508);
  --colors-violet-100: oklch(0.943 0.029 294.588);
  --colors-slate-600: oklch(0.446 0.043 257.281);
  --colors-slate-500: oklch(0.554 0.046 257.417);
  --fontWeight-bold: 700;
  --fontWeight-medium: 500;
}
