/* layer: shortcuts */
.container{width:100%;}
.container{@media (min-width: 640px){
max-width:540px;
}}
.container,
.md\:container{@media (min-width: 768px){
max-width:720px;
}}
.container,
.lg\:container,
.md\:container{@media (min-width: 1024px){
max-width:960px;
}}
.container,
.lg\:container,
.md\:container{@media (min-width: 1280px){
max-width:1140px;
}}