/* layer: theme */
:root, :host {
--spacing: 0.25rem;
--font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-serif: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--colors-black: #000;
--colors-white: #fff;
--colors-slate-50: oklch(98.4% 0.003 247.858);
--colors-slate-100: oklch(96.8% 0.007 247.896);
--colors-slate-200: oklch(92.9% 0.013 255.508);
--colors-slate-300: oklch(86.9% 0.022 252.894);
--colors-slate-400: oklch(70.4% 0.04 256.788);
--colors-slate-500: oklch(55.4% 0.046 257.417);
--colors-slate-600: oklch(44.6% 0.043 257.281);
--colors-slate-700: oklch(37.2% 0.044 257.287);
--colors-slate-800: oklch(27.9% 0.041 260.031);
--colors-slate-900: oklch(20.8% 0.042 265.755);
--colors-slate-950: oklch(12.9% 0.042 264.695);
--colors-slate-DEFAULT: oklch(70.4% 0.04 256.788);
--colors-gray-50: oklch(98.5% 0.002 247.839);
--colors-gray-100: oklch(96.7% 0.003 264.542);
--colors-gray-200: oklch(92.8% 0.006 264.531);
--colors-gray-300: oklch(87.2% 0.01 258.338);
--colors-gray-400: oklch(70.7% 0.022 261.325);
--colors-gray-500: oklch(55.1% 0.027 264.364);
--colors-gray-600: oklch(44.6% 0.03 256.802);
--colors-gray-700: oklch(37.3% 0.034 259.733);
--colors-gray-800: oklch(27.8% 0.033 256.848);
--colors-gray-900: oklch(21% 0.034 264.665);
--colors-gray-950: oklch(13% 0.028 261.692);
--colors-gray-DEFAULT: oklch(70.7% 0.022 261.325);
--colors-zinc-50: oklch(98.5% 0 0);
--colors-zinc-100: oklch(96.7% 0.001 286.375);
--colors-zinc-200: oklch(92% 0.004 286.32);
--colors-zinc-300: oklch(87.1% 0.006 286.286);
--colors-zinc-400: oklch(70.5% 0.015 286.067);
--colors-zinc-500: oklch(55.2% 0.016 285.938);
--colors-zinc-600: oklch(44.2% 0.017 285.786);
--colors-zinc-700: oklch(37% 0.013 285.805);
--colors-zinc-800: oklch(27.4% 0.006 286.033);
--colors-zinc-900: oklch(21% 0.006 285.885);
--colors-zinc-950: oklch(14.1% 0.005 285.823);
--colors-zinc-DEFAULT: oklch(70.5% 0.015 286.067);
--colors-neutral-50: oklch(98.5% 0 0);
--colors-neutral-100: oklch(97% 0 0);
--colors-neutral-200: oklch(92.2% 0 0);
--colors-neutral-300: oklch(87% 0 0);
--colors-neutral-400: oklch(70.8% 0 0);
--colors-neutral-500: oklch(55.6% 0 0);
--colors-neutral-600: oklch(43.9% 0 0);
--colors-neutral-700: oklch(37.1% 0 0);
--colors-neutral-800: oklch(26.9% 0 0);
--colors-neutral-900: oklch(20.5% 0 0);
--colors-neutral-950: oklch(14.5% 0 0);
--colors-neutral-DEFAULT: oklch(70.8% 0 0);
--colors-stone-50: oklch(98.5% 0.001 106.423);
--colors-stone-100: oklch(97% 0.001 106.424);
--colors-stone-200: oklch(92.3% 0.003 48.717);
--colors-stone-300: oklch(86.9% 0.005 56.366);
--colors-stone-400: oklch(70.9% 0.01 56.259);
--colors-stone-500: oklch(55.3% 0.013 58.071);
--colors-stone-600: oklch(44.4% 0.011 73.639);
--colors-stone-700: oklch(37.4% 0.01 67.558);
--colors-stone-800: oklch(26.8% 0.007 34.298);
--colors-stone-900: oklch(21.6% 0.006 56.043);
--colors-stone-950: oklch(14.7% 0.004 49.25);
--colors-stone-DEFAULT: oklch(70.9% 0.01 56.259);
--colors-red-50: oklch(97.1% 0.013 17.38);
--colors-red-100: oklch(93.6% 0.032 17.717);
--colors-red-200: oklch(88.5% 0.062 18.334);
--colors-red-300: oklch(80.8% 0.114 19.571);
--colors-red-400: oklch(70.4% 0.191 22.216);
--colors-red-500: oklch(63.7% 0.237 25.331);
--colors-red-600: oklch(57.7% 0.245 27.325);
--colors-red-700: oklch(50.5% 0.213 27.518);
--colors-red-800: oklch(44.4% 0.177 26.899);
--colors-red-900: oklch(39.6% 0.141 25.723);
--colors-red-950: oklch(25.8% 0.092 26.042);
--colors-red-DEFAULT: oklch(70.4% 0.191 22.216);
--colors-orange-50: oklch(98% 0.016 73.684);
--colors-orange-100: oklch(95.4% 0.038 75.164);
--colors-orange-200: oklch(90.1% 0.076 70.697);
--colors-orange-300: oklch(83.7% 0.128 66.29);
--colors-orange-400: oklch(75% 0.183 55.934);
--colors-orange-500: oklch(70.5% 0.213 47.604);
--colors-orange-600: oklch(64.6% 0.222 41.116);
--colors-orange-700: oklch(55.3% 0.195 38.402);
--colors-orange-800: oklch(47% 0.157 37.304);
--colors-orange-900: oklch(40.8% 0.123 38.172);
--colors-orange-950: oklch(26.6% 0.079 36.259);
--colors-orange-DEFAULT: oklch(75% 0.183 55.934);
--colors-amber-50: oklch(98.7% 0.022 95.277);
--colors-amber-100: oklch(96.2% 0.059 95.617);
--colors-amber-200: oklch(92.4% 0.12 95.746);
--colors-amber-300: oklch(87.9% 0.169 91.605);
--colors-amber-400: oklch(82.8% 0.189 84.429);
--colors-amber-500: oklch(76.9% 0.188 70.08);
--colors-amber-600: oklch(66.6% 0.179 58.318);
--colors-amber-700: oklch(55.5% 0.163 48.998);
--colors-amber-800: oklch(47.3% 0.137 46.201);
--colors-amber-900: oklch(41.4% 0.112 45.904);
--colors-amber-950: oklch(27.9% 0.077 45.635);
--colors-amber-DEFAULT: oklch(82.8% 0.189 84.429);
--colors-yellow-50: oklch(98.7% 0.026 102.212);
--colors-yellow-100: oklch(97.3% 0.071 103.193);
--colors-yellow-200: oklch(94.5% 0.129 101.54);
--colors-yellow-300: oklch(90.5% 0.182 98.111);
--colors-yellow-400: oklch(85.2% 0.199 91.936);
--colors-yellow-500: oklch(79.5% 0.184 86.047);
--colors-yellow-600: oklch(68.1% 0.162 75.834);
--colors-yellow-700: oklch(55.4% 0.135 66.442);
--colors-yellow-800: oklch(47.6% 0.114 61.907);
--colors-yellow-900: oklch(42.1% 0.095 57.708);
--colors-yellow-950: oklch(28.6% 0.066 53.813);
--colors-yellow-DEFAULT: oklch(85.2% 0.199 91.936);
--colors-lime-50: oklch(98.6% 0.031 120.757);
--colors-lime-100: oklch(96.7% 0.067 122.328);
--colors-lime-200: oklch(93.8% 0.127 124.321);
--colors-lime-300: oklch(89.7% 0.196 126.665);
--colors-lime-400: oklch(84.1% 0.238 128.85);
--colors-lime-500: oklch(76.8% 0.233 130.85);
--colors-lime-600: oklch(64.8% 0.2 131.684);
--colors-lime-700: oklch(53.2% 0.157 131.589);
--colors-lime-800: oklch(45.3% 0.124 130.933);
--colors-lime-900: oklch(40.5% 0.101 131.063);
--colors-lime-950: oklch(27.4% 0.072 132.109);
--colors-lime-DEFAULT: oklch(84.1% 0.238 128.85);
--colors-green-50: oklch(98.2% 0.018 155.826);
--colors-green-100: oklch(96.2% 0.044 156.743);
--colors-green-200: oklch(92.5% 0.084 155.995);
--colors-green-300: oklch(87.1% 0.15 154.449);
--colors-green-400: oklch(79.2% 0.209 151.711);
--colors-green-500: oklch(72.3% 0.219 149.579);
--colors-green-600: oklch(62.7% 0.194 149.214);
--colors-green-700: oklch(52.7% 0.154 150.069);
--colors-green-800: oklch(44.8% 0.119 151.328);
--colors-green-900: oklch(39.3% 0.095 152.535);
--colors-green-950: oklch(26.6% 0.065 152.934);
--colors-green-DEFAULT: oklch(79.2% 0.209 151.711);
--colors-emerald-50: oklch(97.9% 0.021 166.113);
--colors-emerald-100: oklch(95% 0.052 163.051);
--colors-emerald-200: oklch(90.5% 0.093 164.15);
--colors-emerald-300: oklch(84.5% 0.143 164.978);
--colors-emerald-400: oklch(76.5% 0.177 163.223);
--colors-emerald-500: oklch(69.6% 0.17 162.48);
--colors-emerald-600: oklch(59.6% 0.145 163.225);
--colors-emerald-700: oklch(50.8% 0.118 165.612);
--colors-emerald-800: oklch(43.2% 0.095 166.913);
--colors-emerald-900: oklch(37.8% 0.077 168.94);
--colors-emerald-950: oklch(26.2% 0.051 172.552);
--colors-emerald-DEFAULT: oklch(76.5% 0.177 163.223);
--colors-teal-50: oklch(98.4% 0.014 180.72);
--colors-teal-100: oklch(95.3% 0.051 180.801);
--colors-teal-200: oklch(91% 0.096 180.426);
--colors-teal-300: oklch(85.5% 0.138 181.071);
--colors-teal-400: oklch(77.7% 0.152 181.912);
--colors-teal-500: oklch(70.4% 0.14 182.503);
--colors-teal-600: oklch(60% 0.118 184.704);
--colors-teal-700: oklch(51.1% 0.096 186.391);
--colors-teal-800: oklch(43.7% 0.078 188.216);
--colors-teal-900: oklch(38.6% 0.063 188.416);
--colors-teal-950: oklch(27.7% 0.046 192.524);
--colors-teal-DEFAULT: oklch(77.7% 0.152 181.912);
--colors-cyan-50: oklch(98.4% 0.019 200.873);
--colors-cyan-100: oklch(95.6% 0.045 203.388);
--colors-cyan-200: oklch(91.7% 0.08 205.041);
--colors-cyan-300: oklch(86.5% 0.127 207.078);
--colors-cyan-400: oklch(78.9% 0.154 211.53);
--colors-cyan-500: oklch(71.5% 0.143 215.221);
--colors-cyan-600: oklch(60.9% 0.126 221.723);
--colors-cyan-700: oklch(52% 0.105 223.128);
--colors-cyan-800: oklch(45% 0.085 224.283);
--colors-cyan-900: oklch(39.8% 0.07 227.392);
--colors-cyan-950: oklch(30.2% 0.056 229.695);
--colors-cyan-DEFAULT: oklch(78.9% 0.154 211.53);
--colors-sky-50: oklch(97.7% 0.013 236.62);
--colors-sky-100: oklch(95.1% 0.026 236.824);
--colors-sky-200: oklch(90.1% 0.058 230.902);
--colors-sky-300: oklch(82.8% 0.111 230.318);
--colors-sky-400: oklch(74.6% 0.16 232.661);
--colors-sky-500: oklch(68.5% 0.169 237.323);
--colors-sky-600: oklch(58.8% 0.158 241.966);
--colors-sky-700: oklch(50% 0.134 242.749);
--colors-sky-800: oklch(44.3% 0.11 240.79);
--colors-sky-900: oklch(39.1% 0.09 240.876);
--colors-sky-950: oklch(29.3% 0.066 243.157);
--colors-sky-DEFAULT: oklch(74.6% 0.16 232.661);
--colors-blue-50: oklch(97% 0.014 254.604);
--colors-blue-100: oklch(93.2% 0.032 255.585);
--colors-blue-200: oklch(88.2% 0.059 254.128);
--colors-blue-300: oklch(80.9% 0.105 251.813);
--colors-blue-400: oklch(70.7% 0.165 254.624);
--colors-blue-500: oklch(62.3% 0.214 259.815);
--colors-blue-600: oklch(54.6% 0.245 262.881);
--colors-blue-700: oklch(48.8% 0.243 264.376);
--colors-blue-800: oklch(42.4% 0.199 265.638);
--colors-blue-900: oklch(37.9% 0.146 265.522);
--colors-blue-950: oklch(28.2% 0.091 267.935);
--colors-blue-DEFAULT: oklch(70.7% 0.165 254.624);
--colors-indigo-50: oklch(96.2% 0.018 272.314);
--colors-indigo-100: oklch(93% 0.034 272.788);
--colors-indigo-200: oklch(87% 0.065 274.039);
--colors-indigo-300: oklch(78.5% 0.115 274.713);
--colors-indigo-400: oklch(67.3% 0.182 276.935);
--colors-indigo-500: oklch(58.5% 0.233 277.117);
--colors-indigo-600: oklch(51.1% 0.262 276.966);
--colors-indigo-700: oklch(45.7% 0.24 277.023);
--colors-indigo-800: oklch(39.8% 0.195 277.366);
--colors-indigo-900: oklch(35.9% 0.144 278.697);
--colors-indigo-950: oklch(25.7% 0.09 281.288);
--colors-indigo-DEFAULT: oklch(67.3% 0.182 276.935);
--colors-violet-50: oklch(96.9% 0.016 293.756);
--colors-violet-100: oklch(94.3% 0.029 294.588);
--colors-violet-200: oklch(89.4% 0.057 293.283);
--colors-violet-300: oklch(81.1% 0.111 293.571);
--colors-violet-400: oklch(70.2% 0.183 293.541);
--colors-violet-500: oklch(60.6% 0.25 292.717);
--colors-violet-600: oklch(54.1% 0.281 293.009);
--colors-violet-700: oklch(49.1% 0.27 292.581);
--colors-violet-800: oklch(43.2% 0.232 292.759);
--colors-violet-900: oklch(38% 0.189 293.745);
--colors-violet-950: oklch(28.3% 0.141 291.089);
--colors-violet-DEFAULT: oklch(70.2% 0.183 293.541);
--colors-purple-50: oklch(97.7% 0.014 308.299);
--colors-purple-100: oklch(94.6% 0.033 307.174);
--colors-purple-200: oklch(90.2% 0.063 306.703);
--colors-purple-300: oklch(82.7% 0.119 306.383);
--colors-purple-400: oklch(71.4% 0.203 305.504);
--colors-purple-500: oklch(62.7% 0.265 303.9);
--colors-purple-600: oklch(55.8% 0.288 302.321);
--colors-purple-700: oklch(49.6% 0.265 301.924);
--colors-purple-800: oklch(43.8% 0.218 303.724);
--colors-purple-900: oklch(38.1% 0.176 304.987);
--colors-purple-950: oklch(29.1% 0.149 302.717);
--colors-purple-DEFAULT: oklch(71.4% 0.203 305.504);
--colors-fuchsia-50: oklch(97.7% 0.017 320.058);
--colors-fuchsia-100: oklch(95.2% 0.037 318.852);
--colors-fuchsia-200: oklch(90.3% 0.076 319.62);
--colors-fuchsia-300: oklch(83.3% 0.145 321.434);
--colors-fuchsia-400: oklch(74% 0.238 322.16);
--colors-fuchsia-500: oklch(66.7% 0.295 322.15);
--colors-fuchsia-600: oklch(59.1% 0.293 322.896);
--colors-fuchsia-700: oklch(51.8% 0.253 323.949);
--colors-fuchsia-800: oklch(45.2% 0.211 324.591);
--colors-fuchsia-900: oklch(40.1% 0.17 325.612);
--colors-fuchsia-950: oklch(29.3% 0.136 325.661);
--colors-fuchsia-DEFAULT: oklch(74% 0.238 322.16);
--colors-pink-50: oklch(97.1% 0.014 343.198);
--colors-pink-100: oklch(94.8% 0.028 342.258);
--colors-pink-200: oklch(89.9% 0.061 343.231);
--colors-pink-300: oklch(82.3% 0.12 346.018);
--colors-pink-400: oklch(71.8% 0.202 349.761);
--colors-pink-500: oklch(65.6% 0.241 354.308);
--colors-pink-600: oklch(59.2% 0.249 0.584);
--colors-pink-700: oklch(52.5% 0.223 3.958);
--colors-pink-800: oklch(45.9% 0.187 3.815);
--colors-pink-900: oklch(40.8% 0.153 2.432);
--colors-pink-950: oklch(28.4% 0.109 3.907);
--colors-pink-DEFAULT: oklch(71.8% 0.202 349.761);
--colors-rose-50: oklch(96.9% 0.015 12.422);
--colors-rose-100: oklch(94.1% 0.03 12.58);
--colors-rose-200: oklch(89.2% 0.058 10.001);
--colors-rose-300: oklch(81% 0.117 11.638);
--colors-rose-400: oklch(71.2% 0.194 13.428);
--colors-rose-500: oklch(64.5% 0.246 16.439);
--colors-rose-600: oklch(58.6% 0.253 17.585);
--colors-rose-700: oklch(51.4% 0.222 16.935);
--colors-rose-800: oklch(45.5% 0.188 13.697);
--colors-rose-900: oklch(41% 0.159 10.272);
--colors-rose-950: oklch(27.1% 0.105 12.094);
--colors-rose-DEFAULT: oklch(71.2% 0.194 13.428);
--colors-light-50: oklch(99.4% 0 0);
--colors-light-100: oklch(99.11% 0 0);
--colors-light-200: oklch(98.51% 0 0);
--colors-light-300: oklch(98.16% 0.0017 247.84);
--colors-light-400: oklch(97.31% 0 0);
--colors-light-500: oklch(96.12% 0 0);
--colors-light-600: oklch(96.32% 0.0034 247.86);
--colors-light-700: oklch(94.17% 0.0052 247.88);
--colors-light-800: oklch(91.09% 0.007 247.9);
--colors-light-900: oklch(90.72% 0.0051 228.82);
--colors-light-950: oklch(89.23% 0.006 239.83);
--colors-light-DEFAULT: oklch(97.31% 0 0);
--colors-dark-50: oklch(40.91% 0 0);
--colors-dark-100: oklch(35.62% 0 0);
--colors-dark-200: oklch(31.71% 0 0);
--colors-dark-300: oklch(29.72% 0 0);
--colors-dark-400: oklch(25.2% 0 0);
--colors-dark-500: oklch(23.93% 0 0);
--colors-dark-600: oklch(22.73% 0.0038 286.09);
--colors-dark-700: oklch(22.21% 0 0);
--colors-dark-800: oklch(20.9% 0 0);
--colors-dark-900: oklch(16.84% 0 0);
--colors-dark-950: oklch(13.44% 0 0);
--colors-dark-DEFAULT: oklch(25.2% 0 0);
--text-xs-fontSize: 0.75rem;
--text-xs-lineHeight: 1rem;
--text-sm-fontSize: 0.875rem;
--text-sm-lineHeight: 1.25rem;
--text-base-fontSize: 1rem;
--text-base-lineHeight: 1.5rem;
--text-lg-fontSize: 1.125rem;
--text-lg-lineHeight: 1.75rem;
--text-xl-fontSize: 1.25rem;
--text-xl-lineHeight: 1.75rem;
--text-2xl-fontSize: 1.5rem;
--text-2xl-lineHeight: 2rem;
--text-3xl-fontSize: 1.875rem;
--text-3xl-lineHeight: 2.25rem;
--text-4xl-fontSize: 2.25rem;
--text-4xl-lineHeight: 2.5rem;
--text-5xl-fontSize: 3rem;
--text-5xl-lineHeight: 1;
--text-6xl-fontSize: 3.75rem;
--text-6xl-lineHeight: 1;
--text-7xl-fontSize: 4.5rem;
--text-7xl-lineHeight: 1;
--text-8xl-fontSize: 6rem;
--text-8xl-lineHeight: 1;
--text-9xl-fontSize: 8rem;
--text-9xl-lineHeight: 1;
--fontWeight-thin: 100;
--fontWeight-extralight: 200;
--fontWeight-light: 300;
--fontWeight-normal: 400;
--fontWeight-medium: 500;
--fontWeight-semibold: 600;
--fontWeight-bold: 700;
--fontWeight-extrabold: 800;
--fontWeight-black: 900;
--tracking-tighter: -0.05em;
--tracking-tight: -0.025em;
--tracking-normal: 0em;
--tracking-wide: 0.025em;
--tracking-wider: 0.05em;
--tracking-widest: 0.1em;
--leading-none: 1;
--leading-tight: 1.25;
--leading-snug: 1.375;
--leading-normal: 1.5;
--leading-relaxed: 1.625;
--leading-loose: 2;
--textStrokeWidth-DEFAULT: 1.5rem;
--textStrokeWidth-none: 0;
--textStrokeWidth-sm: thin;
--textStrokeWidth-md: medium;
--textStrokeWidth-lg: thick;
--radius-DEFAULT: 0.25rem;
--radius-none: 0;
--radius-xs: 0.125rem;
--radius-sm: 0.25rem;
--radius-md: 0.375rem;
--radius-lg: 0.5rem;
--radius-xl: 0.75rem;
--radius-2xl: 1rem;
--radius-3xl: 1.5rem;
--radius-4xl: 2rem;
--ease-linear: linear;
--ease-in: cubic-bezier(0.4, 0, 1, 1);
--ease-out: cubic-bezier(0, 0, 0.2, 1);
--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
--ease-DEFAULT: cubic-bezier(0.4, 0, 0.2, 1);
--blur-DEFAULT: 8px;
--blur-xs: 4px;
--blur-sm: 8px;
--blur-md: 12px;
--blur-lg: 16px;
--blur-xl: 24px;
--blur-2xl: 40px;
--blur-3xl: 64px;
--perspective-dramatic: 100px;
--perspective-near: 300px;
--perspective-normal: 500px;
--perspective-midrange: 800px;
--perspective-distant: 1200px;
--default-transition-duration: 150ms;
--default-transition-timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
--default-font-family: var(--font-sans);
--default-font-featureSettings: var(--font-sans--font-feature-settings);
--default-font-variationSettings: var(--font-sans--font-variation-settings);
--default-monoFont-family: var(--font-mono);
--default-monoFont-featureSettings: var(--font-mono--font-feature-settings);
--default-monoFont-variationSettings: var(--font-mono--font-variation-settings);
--container-3xs: 16rem;
--container-2xs: 18rem;
--container-xs: 20rem;
--container-sm: 24rem;
--container-md: 28rem;
--container-lg: 32rem;
--container-xl: 36rem;
--container-2xl: 42rem;
--container-3xl: 48rem;
--container-4xl: 56rem;
--container-5xl: 64rem;
--container-6xl: 72rem;
--container-7xl: 80rem;
--container-prose: 65ch;
}