#app :is(.grid) {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (min-width: 640px) {
  #app :is(.grid) {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  #app :is(.grid) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  #app :is(.grid) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  #app :is(.grid) {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}
