.btn {
  padding: 0.75rem;
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
}
.btn:hover {
  border-width: 1px;
}
.btn:hover {
  --un-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--un-bg-opacity));
}
