/* Source: /Users/chris/projects/unocss/_temp/42232/views/main.css */

  .btn {
    --un-bg-opacity:1;background-color:rgb(248 113 113 / var(--un-bg-opacity)) /* #f87171 */;padding:0.5rem;
  }


/* Source: /Users/chris/projects/unocss/_temp/42232/views/style.css */
body {
  color: white;
  --un-bg-opacity:1;background-color:rgb(248 113 113 / var(--un-bg-opacity)) /* #f87171 */;
}.dark body{--un-bg-opacity:1;background-color:rgb(96 165 250 / var(--un-bg-opacity)) /* #60a5fa */;}
