/* layer: base */
[uno-layer-base~="c-white\/10"]{color:rgb(255 255 255 / 0.1);}
[uno-layer-base~="hover\:c-black\/20"]:hover{color:rgb(0 0 0 / 0.2);}
/* layer: default */
.absolute{position:absolute;}
.fixed{position:fixed;}
[m~="\31 "]{margin:0.25rem;}
[m~="\32 "]{margin:0.5rem;}
[m~="\33 "]{margin:0.75rem;}
[ma=""],
[un-children~="m-auto"]>*{margin:auto;}
[ml-1\.5=""]{margin-left:0.375rem;}
[inline-block=""]{display:inline-block;}
[size~="h-0\.5"]{height:0.125rem;}
[size~="w-1"]{width:0.25rem;}
[flex~="\!\~"]{display:flex !important;}
[flex~="col"]{flex-direction:column;}
[translate-x-100\%=""]{--un-translate-x:100%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[rotate-30=""]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:30deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[rotate-60=""]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:60deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[transform=""]{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[flex~="justify-center"]{justify-content:center;}
[flex~="items-center"]{align-items:center;}
[border~="\32 "]{border-width:2px;}
[border~="x-1"]{border-left-width:1px;border-right-width:1px;}
[border~="blue-200"]{--un-border-opacity:1;border-color:rgb(191 219 254 / var(--un-border-opacity));}
[border~="rounded-xl"]{border-radius:0.75rem;}
[border~="rounded"]{border-radius:0.25rem;}
[rounded-sm=""]{border-radius:0.125rem;}
[border~="x-style-dashed"]{border-left-style:dashed;border-right-style:dashed;}
.dark [bg~="dark\:\!blue-500"]{--un-bg-opacity:1 !important;background-color:rgb(59 130 246 / var(--un-bg-opacity)) !important;}
[bg~="blue-400"]{--un-bg-opacity:1;background-color:rgb(96 165 250 / var(--un-bg-opacity));}
[important~="bg-red"]{--un-bg-opacity:1 !important;background-color:rgb(248 113 113 / var(--un-bg-opacity)) !important;}
.dark [bg~="dark\:hover\:blue-600"]:hover{--un-bg-opacity:1;background-color:rgb(37 99 235 / var(--un-bg-opacity));}
[bg~="hover\:blue-500"]:hover{--un-bg-opacity:1;background-color:rgb(59 130 246 / var(--un-bg-opacity));}
[p~="x-4"]{padding-left:1rem;padding-right:1rem;}
[p~="y-2"]{padding-top:0.5rem;padding-bottom:0.5rem;}
[p~="t-2"],
[pt~="\32 "],
[pt2=""]{padding-top:0.5rem;}
[text~="sm"]{font-size:0.875rem;line-height:1.25rem;}
[important~="text-red"]{--un-text-opacity:1 !important;color:rgb(248 113 113 / var(--un-text-opacity)) !important;}
[text~="white"]{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
[\!leading-4=""]{line-height:1rem !important;}
[font~="mono"]{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
[font~="sans"]{font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
[after~="content-\[quoted\:uno_css\]"]::after{content:"uno css";}
@media (min-width: 640px){
[sm~="\[color\:red\]"]{color:red;}
}
@media (min-width: 768px){
[md~="\[--var\:var\(--another\)\]"]{--var:var(--another);}
}
@media (min-width: 1024px){
[lg~="bg-blue-600"]{--un-bg-opacity:1;background-color:rgb(37 99 235 / var(--un-bg-opacity));}
}