/* layer: default */
[pointer-events-none=""]{pointer-events:none;}
[absolute=""]{position:absolute;}
[relative=""]{position:relative;}
[left-4=""]{left:1rem;}
[top~="\31 \/3"]{top:33.3333333333%;}
[m-0=""]{margin:0;}
[ma=""]{margin:auto;}
[mb--3=""]{margin-bottom:-0.75rem;}
[mb-a=""]{margin-bottom:auto;}
[mt-1=""]{margin-top:0.25rem;}
[mt-a=""]{margin-top:auto;}
[h-14=""]{height:3.5rem;}
[h-80=""]{height:20rem;}
[flex=""]{display:flex;}
[inline-flex=""]{display:inline-flex;}
[flex-col=""]{flex-direction:column;}
[peer=""]:not(:placeholder-shown)~[peer-not-placeholder-shown~="origin-top-left"]{transform-origin:top left;}
[peer=""]:focus~[peer-focus~="origin-top-left"]{transform-origin:top left;}
[peer=""]:not(:placeholder-shown)~[peer-not-placeholder-shown~="-translate-y-4"]{--un-translate-y:-1rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[peer=""]:focus~[peer-focus~="-translate-y-4"]{--un-translate-y:-1rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[peer=""]:not(:placeholder-shown)~[peer-not-placeholder-shown~="scale-75"]{--un-scale-x:0.75;--un-scale-y:0.75;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[peer=""]:focus~[peer-focus~="scale-75"]{--un-scale-x:0.75;--un-scale-y:0.75;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[select-none=""]{-webkit-user-select:none;user-select:none;}
[bg-gradient~="from-yellow-400"]{--un-gradient-from-position:0%;--un-gradient-from:rgba(250,204,21,var(--un-from-opacity, 1)) var(--un-gradient-from-position);--un-gradient-to-position:100%;--un-gradient-to:rgba(250,204,21,0) var(--un-gradient-to-position);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
[bg-gradient~="to-pink-500"]{--un-gradient-to-position:100%;--un-gradient-to:rgba(236,72,153,var(--un-to-opacity, 1)) var(--un-gradient-to-position);}
[bg-gradient~="via-red-500"]{--un-gradient-via-position:50%;--un-gradient-to:rgba(239,68,68,0);--un-gradient-stops:var(--un-gradient-from), rgba(239,68,68,var(--un-via-opacity, 1)) var(--un-gradient-via-position), var(--un-gradient-to);}
[bg-gradient~="to-r"]{--un-gradient-shape:to right;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
[p-10=""]{padding:2.5rem;}
[px-4=""]{padding-left:1rem;padding-right:1rem;}
[pt-4=""]{padding-top:1rem;}
[text-center=""]{text-align:center;}
[peer=""]:checked~[peer-checked~="text-4xl"],
[text-4xl=""]{font-size:2.25rem;line-height:2.5rem;}
[text-5xl=""]{font-size:3rem;line-height:1;}
[font-100=""]{font-weight:100;}
[font-200=""]{font-weight:200;}
[leading-1rem=""]{line-height:1rem;}
[tracking-wider=""]{letter-spacing:0.05em;}
[group=""]:hover [group-hover~="text-teal-400"]{--un-text-opacity:1;color:rgba(45,212,191,var(--un-text-opacity));}
[peer=""]:not(:placeholder-shown)~[peer-not-placeholder-shown~="text-green-500"]{--un-text-opacity:1;color:rgba(34,197,94,var(--un-text-opacity));}
[text-gray-7=""]{--un-text-opacity:1;color:rgba(55,65,81,var(--un-text-opacity));}
[text-true-gray-800=""]{--un-text-opacity:1;color:rgba(38,38,38,var(--un-text-opacity));}
[un-placeholder~="text-red"]::placeholder{--un-text-opacity:1;color:rgba(248,113,113,var(--un-text-opacity));}
[peer=""]:focus~[peer-focus~="text-green-500"]{--un-text-opacity:1;color:rgba(34,197,94,var(--un-text-opacity));}
[group=""]:hover [group-hover~="op-50"]{opacity:0.5;}
[op-20=""]{opacity:0.2;}
[backdrop-element~="filter"]::backdrop{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
[all\:transition-400=""] *{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:400ms;}
[transition~="\32 00"]{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:200ms;}
[after~="content-\[string\:\!\]"]::after{content:!;}
[before-content~="\[quoted\:\!\]"]::before{content:"!";}
@media (max-width: 767.9px){
.\<md\:color-red{--un-text-opacity:1;color:rgba(248,113,113,var(--un-text-opacity));}
}
@media (min-width: 640px){
[sm~="bg-blue-600"]{--un-bg-opacity:1;background-color:rgba(37,99,235,var(--un-bg-opacity));}
}