---
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!
/* ASTRO:COMPONENT_IMPORTS */

import 'uno.css' 

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
<body flex>
  <span class="text-red-500">Text</span>
</body>
</html>
