:root {
  --c-text-light: #939393;
  --c-brand: #ff718b;
  --c-brand-light: #ff718b;
  --c-accent: #90C321;
  --font-family-base: "Readex Pro", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont, sans-serif;
  --bg-gradient: 255,255,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: rgb(20,20,20) !important;
    --c-text: rgb(255,255,255,87%) !important;
    --bg-gradient: 20,20,20 !important;
    --code-inline-bg-color: #282c34aa !important;
  }

  tr:nth-child(2n) {
    background-color: var(--c-bg) !important;
  }
  tr {
    border-top: 1px solid var(--code-inline-bg-color) !important;
  }
}

.custom-block.tip {
  background-color: rgba(255, 229, 100, 0.1)
}

.custom-block.info {
  color: var(--c-text-light-2);
}

.custom-block.warning {
  color: inherit;
}

.nav-bar-title .logo {
  height: 1.5em !important;
  margin-right: 0.5rem !important;
}

/* Overrides */
.custom-block.tip {
  border-color: var(--c-accent) !important;
  background-color: #90C32130 !important;
}

th, td {
  border: 1px solid #8885;
}
