name: autofix.ci

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  autofix:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js lts/*
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install
        run: pnpm install
        env:
          CYPRESS_INSTALL_BINARY: 0

      - run: pnpm lint --fix

      - uses: autofix-ci/action@v1
