name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.15.1

      - name: Use Node.js v16
        uses: actions/setup-node@v2
        with:
          node-version: v16
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - run: npx conventional-github-releaser -p angular
        continue-on-error: true
        env:
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Install Dependencies
        run: pnpm install

      - name: Instal VS Code Extension Dependencies
        run: yarn install && npm i -g vsce ovsx
        working-directory: ./packages/vscode

      - name: PNPM build
        run: pnpm run build

      - name: Publish to NPM
        run: pnpm -r publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Publish to VSCE
        run: vsce publish -p ${{secrets.VSCE_TOKEN}}
        working-directory: ./packages/vscode
        env:
          VSCE_TOKEN: ${{secrets.VSCE_TOKEN}}

      # - name: Publish to OVSX
      #   run: ovsx publish -p ${{secrets.OVSX_TOKEN}}
      #   working-directory: ./packages/vscode
      #   env:
      #     OVSX_TOKEN: ${{secrets.OVSX_TOKEN}}
